.div1,.div2,.div3{
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 270px;
    margin-left: 20px;
    border-radius: 20px;
    flex-direction: row;
    text-align: center;
    display: inline-block;
    box-shadow: 8px 8px 20px gray;

   }

  
   
   .add-button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: #f6c502;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
   }
   .buy-button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: #780303;
    color: rgb(237, 236, 236);
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
   }
   .back-text{
    font-size: 16px;
    text-align: left;
    font-family:sans-serif;
    
    
   }
   .shoe-img{
  width: 250px;
  height:190px ;
  object-fit: cover;
  object-position: bottom;
  border-style: none;
  border-radius:10px;
  margin-bottom: 0px;
   }
