
body{
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.main-container{
    background-color: transparent;
     display: flex;
      flex-direction: row;
}
.div1,.div2,.div3{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 270px;
    margin-left: 20px;
    border-radius: 20px;
    flex-direction: row;
    text-align: center;
    display: inline-block;
    box-shadow: 8px 8px 20px rgb(85, 85, 85);
    

   }

  
   
   .add-button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: #f6c502;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
   }
   .buy-button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background: #780303;
    color: rgb(237, 236, 236);
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
   }
   .back-text{
    font-size: 16px;
    text-align: left;
    font-family:sans-serif;
    
    
   }
   .shoe-img{
  width: 250px;
  height:190px ;
  object-fit: cover;
  object-position: bottom;
  border-style: none;
  border-radius:10px;
  margin-bottom: 0px;
   }
